---
import Layout from '../../layouts/Layout.astro';
const { project } = Astro.params;
if (project == undefined) {
	return { status: 404 };
}

const photo = await getEntry('photography', project);
if (photo == undefined) {
	return { status: 404 };
}

const getImageClass = (isPortrait: boolean): string => {
	return (isPortrait ? "h-[55svh] object-contain" : "w-full lg:max-w-screen-lg")
}
---


<Layout title="zoom">
	<div class="flex flex-col justify-center items-center">
		<img 
			transition:animate="fade"
			src={photo.data.cover} 
			alt={photo.data.title}
			class={getImageClass(photo.data.isPortrait)}
		/>
		<div class="text-center max-w-screen-sm mt-6 md:mt-12" transition:animate="fade">
			<h1 class="text-md md:text-2xl font-bold">{photo.data.title}</h1>
			<p class="text-sm md:text-lg mt-2">{photo.data.description}</p>
		</div>
		<a href="/" class="mt-4 md:mt-10 text-md md:text-xl pointer text-orange-700 block">
			Back
		</a>
	</div>
</Layout>
